*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
main{
    min-height: 100vh;
    padding: 25px;
    background: linear-gradient(rgb(255, 98, 50), rgb(0, 4, 255));
}
.search-box{
    width:100%;
    margin: 0 0 75px;
}
.search-box .search-bar{
    display: block;
    width: 100%;
    padding: 15px;
    appearance: none;
    background: none;
    border-radius: 25px;
    outline: none;
}
.location-box .location{
    text-align: center;
}
.location-box .date{
    text-align: center;
}
.weather-box .temp{
    text-align: center;
}
.weather-box .weather{
    text-align: center;
}
.icon-container{
    width: 50%;
    height: auto;
}
.icon{
    position: absolute;
    width: 30%;
    left: 35%;
}